*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #222;
  font-family: 'Arima Madurai', cursive;
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h1 {
  font-family: 'Bangers', cursive;
  color: #f8cf66;
  font-size: 3rem;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 2px;
}
h1 span:nth-child(1) {
  color: #f4b0bf;
}
h1 span:nth-child(2) {
  color: #a9cc8a;
}
.home-inicio {
  width: 80%;
  max-width: 40rem;
  height: 400px;
  background: #444;
  margin: auto;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.78), -2px -2px 12px rgba(255,255,255,0.561);
  border-radius: 20px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-inicio__p {
  font-size: 1.6rem;
  width: 60%;
  color: #fff;
  margin: 0px 0px 30px 20px;
}
.home-inicio #select-niveles {
  width: 12rem;
  height: 5rem;
  background: #a9cc8a;
  border-radius: 1.2rem;
  outline: none;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: inherit;
  align-self: center;
  text-align: center;
  margin-bottom: 30px;
  color: #444;
  cursor: pointer;
}
.home-inicio .edit-nombre {
  width: 14rem;
  align-self: center;
  height: 5rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: #a9cc8a;
  padding-left: 20px;
  border: none;
}
.home-inicio .edit-nombre__span {
  align-self: center;
  font-size: 1.6rem;
  font-family: 'Arima Madurai', cursive;
  font-weight: 900;
  color: #444;
}
.home-inicio .edit-nombre__pen {
  width: 30px;
  height: 100%;
  display: grid;
  place-content: center;
  background: #88a173;
}
.home-inicio .edit-nombre .bxs-edit-alt {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.576);
  font-size: 2.2rem;
  color: #f4b0bf;
}
.home-inicio__start {
  width: 140px;
  height: 50px;
  background: #fff;
  border-radius: 12px;
  display: grid;
  place-content: center;
  border: none;
  align-self: center;
  margin-top: 30px;
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  color: #444;
  cursor: pointer;
}
.container-game {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px;
  display: none;
}
.container-puntos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.container-puntos .puntos {
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
}
.container-puntos .puntos__vs {
  font-size: 1.6rem;
  font-weight: 900;
  color: #f4b0bf;
}
.container-puntos__infoExtra {
  display: grid;
}
.container-puntos__infoExtra .container-puntos__rondas {
  color: #f8cf66;
  font-weight: 600;
  font-size: 1.3rem;
}
.container-puntos__infoExtra #container-puntos__nivel {
  color: #f8cf66;
  font-weight: 600;
  font-size: 1.3rem;
}
.container-puntos .puntaje {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-puntos .puntaje .points {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: inline-block;
}
.container-puntos .puntaje .points-on {
  background: #a9cc8a;
}
.game {
  width: 100%;
  height: 55vh;
  display: grid;
  place-items: center;
}
.game__jugada {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 500px;
  position: relative;
}
.game__jugada img {
  width: 10rem;
  opacity: 0.5;
}
.game__jugadores {
  width: 100%;
  max-width: 400px;
  display: flex;
  font-size: 3rem;
  color: #fff;
  justify-content: space-evenly;
  font-family: 'Bangers', cursive;
}
.h2-game {
  width: 100%;
  max-width: 500px;
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 20px;
}
.seleccionar-manos {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.seleccionar-manos img {
  width: 7rem;
  opacity: 0.5;
  cursor: pointer;
}
.seleccionar-manos .seleccionar-manos__img:active {
  opacity: 1;
  border: 3px solid #1af;
  border-radius: 50%;
}
.reiniciar {
  margin: auto;
  width: 14rem;
  height: 41px;
  border: none;
  border-radius: 10px;
  background: #f8cf66;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.reiniciar span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #222;
}
.reiniciar .bx-reset {
  font-size: 2rem;
  color: #222;
}
@media (min-width: 600px) {
  html {
    font-size: 70%;
  }
  .h2-game {
    margin-left: 0px;
    margin: auto;
  }
}
